.contain-products {
  display: grid;
  gap: 40px;
}

.contain-products .contain-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contain-buttons select {
  margin-left: 10px;
  padding: 0.6em;
}

.contain-products .contain-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.contain-cards .card {
  display: flex;
  justify-content: space-between;
  background-color: #61dafb0a;
  border-radius: 8px;
  padding: 20px 40px;
  box-shadow: 1px 1px 1px#61dafbb9;
  text-align: start;
}

.card .item p {
  display: flex;
  align-items: center;
  gap: 6px;
}

.card .item img {
  width: 400px;
  height: 200px;
}

.icons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.contain-products .card .icons {
  gap: 8px;
}

.contain-products .icons.arrows {
  grid-column: 1 / 3;
  gap: 40px;
  margin-top: 30px;
  justify-content: center;
}

.card .icons svg {
  cursor: pointer;
}